html {
    position: relative;
    min-height: 100%;
    padding-bottom:160px;
  }
  body {
    margin-bottom: 160px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
  }


header {
    background-color: rgb(173, 131, 53);
    min-height: 150px;
    
}
header img{
    margin-left: 20px;
    width: 125px;
}

header nav a {
    color: #000000;
    font-weight: bold;
}

label {
    font-weight: bold;
}


button[type=submit] {
    width: 50%;
    background-color: #17960c;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;


}

input[value=Eliminar] {
    width: 50%;
    background-color: #e48315f6;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-left: 25%;
    visibility: hidden;
}

input[value=Cancelar] {
    width: 50%;
    background-color: #218eb9;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-left: 25%;
    visibility: hidden;
}

input[type="button"]:hover {
    background-color: #074952;
}

input[type="submit"]:hover {
    background-color: #074952;
}

form div img {
    width: 50px;
    padding: 50px 0px;
}


footer {
    background-color: rgb(173, 131, 53);
    min-height: 100px;
    
}

footer nav a {
    color: #000000;
}

#spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    /* Image in the center of container */
    background-position: center center;

    /*  OR Image in the center top of the container */
    /* background-position: center top; */

    /*  OR Image in the center bottom of the container  */
    /* background-position: center bottom; */
}

/*main {
    background-color: rgba(245, 245, 220, 0.548);
    overflow: hidden;
}

main img {
    width: 100%;
    max-width: 1920px;
    height: auto;
}

main h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(10, 10, 10);
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    background-color: beige;


}



input {
    margin-left: 25%;

}



button[type=submit] {
    width: 50%;
    background-color: #17960c;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;


}

input[value=Eliminar] {
    width: 50%;
    background-color: #e48315f6;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-left: 25%;
    visibility: hidden;
}

input[value=Cancelar] {
    width: 50%;
    background-color: #218eb9;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-left: 25%;
    visibility: hidden;
}

input[type="button"]:hover {
    background-color: #074952;
}

input[type="submit"]:hover {
    background-color: #074952;
}

fieldset div {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 20px;
    text-align: center;
    border-radius: 10px;

}

main div img {
    width: 50px;
}

select {
    width: 50%;
    background-color: beige;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;

}

/*.loader {
    border-top: 10px solid blue;
    border-right: 10px solid green;
    border-bottom: 10px solid red;
    border-left: 10px solid pink;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-left: 46%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.inputError {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

.inputOk {
    border: 1px solid green;
    box-shadow: 0 0 5px green;
}

.danger {
    color: red;
    font-weight: bold;
}

small {
    display: block;
}

section div img {
    width: 150px;
    padding: 50px 0px;
}

#spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#divTabla {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 20px;
    text-align: center;

}

th,
td {
    border: 3px double black;
    height: 100px;
    width: 250px;

}

th {
    background-color: #70a551;
}

td:hover {
    cursor: pointer;
}

footer {
    background-color: rgb(173, 131, 53);
    min-height: 100px;
}

footer ul{
    display: inline;
}

footer nav li {

    display: flex;
    align-items: left;
    justify-content: left;
    margin-left: 50px;
    margin-top: 10px;
    display: inline;
    line-height: 100px;

}

footer nav a {
    color: #000000;
}

footer nav a :hover {
    cursor: pointer;
}

#columna2 {
    width: 500px;
    float: right;
    min-height: 100px;
    line-height: 100px;
    font-weight: bold;
}*/





